:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: rgba(0, 0, 40, 1);
  --main-text-color: rgba(241, 178, 206, 1);
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --hover-color-link: var(--main-text-color);
  --focus-button-color: var(--accent-color);
  --focus-color-link: var(--main-text-color);
  --heading-color: rgba(0, 0, 40, 1);
  --h1-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --border-color: var(--accent-color);
  --accent-text-color: var(--accent-color);
  --footer-title: var(--h1-color);
}
