:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: rgba(0, 0, 40, 1);
  --main-text-color: rgba(241, 178, 206, 1);
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --hover-color-link: var(--main-text-color);
  --focus-button-color: var(--accent-color);
  --focus-color-link: var(--main-text-color);
  --heading-color: rgba(0, 0, 40, 1);
  --h1-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --border-color: var(--accent-color);
  --accent-text-color: var(--accent-color);
  --text-shadow-header: 4px 4px 0 var(--accent-color);
  --text-shadow-footer: 2px 2px 0 var(--accent-color);
  --link-shadow: var(--text-shadow-header);
  --footer-title: var(--h1-color);
}

.decorated-zone::before {
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

.decorated-zone::after {
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.theme-dark .decoration,
.theme-dark .decoration::after {
  display: block;
}

.header__theme-menu-item,
.header__theme-menu-button,
.section__title {
  color: var(--accent-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.block__title {
  background-color: var(--accent-color);
}

.block__title-text {
  color: var(--heading-color);
}

.section__block-title {
  color: var(--heading-color);
  background-color: var(--accent-color);
}
.section__block-text {
  color: var(--main-text-color);
}

.footer__title {
  text-shadow: var(--text-shadow-footer);
}

@media (min-width: 768px) {
  .decoration {
    top: 20px;
    right: 48px;
  }
}
