/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

:root.theme-dark,
:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --heading-color: rgba(0, 0, 40, 1);
  --highlighted-title-color: rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --text-shadow: 4px 4px 0 var(--accent-color);
}

/* Вам также нужно будет написать ряд подобных селекторов */

/* .theme-dark .page {
  background-color: var(--background-color), rgba(0, 0, 40, 1);
} */

header::before,
footer::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
}

header::after,
footer::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.decoration {
  color: var(--accent-color);
}

.decoration::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu-button {
  border: 1px solid var(--background-color);
}

.header__theme-menu-button:hover,
.header__theme-menu-button:focus,
.header__theme-menu-button:active {
  border: 1px solid var(--accent-color);
}

.header__title {
  /* text-shadow: var(--accent-color); */
}

.block__title {
  background-color: var(--accent-color);
  color: var(--heading-color);
}

.section__title {
  color: var(--accent-color);
}

.section__block-title {
  background-color: var(--accent-color);
  color: var(--heading-color);
}

.section__block-text {
  color: var(--text-color);
}
