@media (prefers-color-scheme: light) {
  /*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  :root.theme-light {
    --background-image: url(../images/cover-image-light.png);
    --background-color: rgba(255, 241, 247, 1);
    --text-color: rgba(53, 52, 48, 1);
    --heading-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --highlighted-title-color: rgba(255, 194, 230, 1);
    --text-shadow: 4px 4px 0 var(--accent-color);
  }

  /* Вам также нужно будет написать ряд подобных селекторов */

  /* .theme-light .page {
  background-color: var(--background-color), rgba(255, 241, 247, 1);
} */

  .header {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .theme-light header::before,
  .theme-light footer::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-right: 1px solid var(--text-color);
    border-top: 1px solid var(--text-color);
  }

  .theme-light header::after,
  .theme-light footer::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 25px;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }

  .theme-light .decoration {
    visibility: hidden;
  }

  .theme-light .header__theme-menu-button {
    border: 1px solid var(--background-color);
    color: var(--text-color);
  }

  .theme-light .header__theme-menu-button:hover,
  .header__theme-menu-button:focus,
  .header__theme-menu-button:active {
    border: 1px solid var(--text-color);
  }

  .header__title {
    /* text-shadow: var(--accent-color); */
  }

  .block__title {
    background-color: var(--accent-color);
    color: var(--heading-color);
  }

  .theme-light .section__title {
    color: var(--heading-color);
  }

  .section__block-title {
    background-color: var(--accent-color);
    /* color: var(--heading-color); */
  }

  .section__block-text {
    color: var(--text-color);
  }
}
