@media (prefers-color-scheme: light) {
  :root.theme-light {
    --background-image: url(../images/cover-image-light.png);
    --background-color: rgba(255, 241, 247, 1);
    --hover-button-color: rgba(50, 49, 45, 0.4);
    --focus-button-color: var(--text-color);
    --text-color: rgba(53, 52, 48, 1);
    --hover-color: var(--text-color);
    --focus-color: var(--text-color);
    --heading-color: var(--text-color);
    --accent-color: rgba(255, 141, 203, 1);
    --border-color: var(--text-color);
    --highlighted-title-color: rgba(255, 194, 230, 1);
    --text-shadow: 4px 4px 0 var(--accent-color);
  }

  .theme-light .page {
    background-color: var(--background-color);
  }

  header::before,
  footer::before {
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
  }

  header::after,
  footer::after {
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  .theme-light .decoration,
  .theme-light .decoration::after {
    display: none !important;
  }

  .header__theme-menu-item {
    color: var(--text-color);
  }

  .header__theme-menu-button {
    border: 1px solid var(--background-color);
    color: var(--text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--border-color);
    padding: 1.5px 13px;
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--hover-button-color);
  }

  .header__theme-menu-button:focus {
    border-bottom: 1px solid var(--focus-button-color);
  }

  .block__title {
    background-color: var(--accent-color);
    color: var(--heading-color);
  }

  .section__block-title {
    color: var(--heading-color);
    background-color: var(--accent-color);
  }

  .link {
    text-shadow: var(--text-shadow);
  }

  .link:hover {
    border-bottom: 1px solid var(--hover-color);
  }

  .link:focus {
    border: 1px solid var(--hover-color);
  }
}
