:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: rgba(255, 241, 247, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --hover-button-color: rgba(50, 49, 45, 0.4);
  --hover-color-link: var(--main-text-color);
  --focus-button-color: var(--main-text-color);
  --focus-color-link: var(--main-text-color);
  --heading-color: var(--main-text-color);
  --h1-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --border-color: var(--main-text-color);
  --accent-text-color: var(--main-text-color);
  --text-shadow-header: 4px 4px 0 var(--accent-color);
  --text-shadow-footer: 2px 2px 0 rgba(255, 0, 112, 1);
  --link-shadow: var(--text-shadow-header);
  --footer-title: var(--h1-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: rgba(255, 241, 247, 1);
    --main-text-color: rgba(53, 52, 48, 1);
    --hover-button-color: rgba(50, 49, 45, 0.4);
    --hover-color-link: var(--main-text-color);
    --focus-button-color: var(--main-text-color);
    --focus-color-link: var(--main-text-color);
    --heading-color: var(--main-text-color);
    --h1-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --border-color: var(--main-text-color);
    --accent-text-color: var(--main-text-color);
    --text-shadow-header: 4px 4px 0 var(--accent-color);
    --text-shadow-footer: 2px 2px 0 rgba(255, 0, 112, 1);
    --link-shadow: var(--text-shadow-header);
    --footer-title: var(--h1-color);
  }

  .decorated-zone::before {
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
  }

  .decorated-zone::after {
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
  .decoration,
  .decoration::after {
    display: none;
  }

  .header__theme-menu-item {
    color: var(--accent-text-color);
  }

  .header__theme-menu-button {
    border: 1px solid var(--background-color);
    color: var(--accent-text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--border-color);
    padding: 1.5px 13px;
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--hover-button-color);
  }

  .header__theme-menu-button:focus {
    border-bottom: 1px solid var(--focus-button-color);
  }

  .block__title {
    background-color: var(--accent-color);
  }

  .block__title-text {
    color: var(--heading-color);
  }

  .section__block-title {
    color: var(--heading-color);
    background-color: var(--accent-color);
  }

  .footer__title {
    text-shadow: var(--text-shadow-footer);
  }
}
