/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


 /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

.page {
  background-attachment: fixed;
  max-width: 375px;
  background-color: var(--background-color);
}

.header {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0 10px; /* постараться убрать padding в общие стили для page*/
}

.container {
  width: 100%;
  height: 20px;
  padding-right: 20px;
  text-align: right;
  padding-top: 10px;
}

.decoration {
  display: block;
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--fw-normal);
  line-height: 25px;
  text-transform: var(--text-uppercase);
}

.header__theme-menu {
  margin-block-start: 39px;
}

.header__theme-menu-list {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  background-color: inherit;
  text-transform: var(--text-lowercase);
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--fw-normal);
  line-height: 18px;
  color: var(--accent-color);
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__title {
  margin-block-start: 65px;
  font-family: var(--font-main), sans-serif;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--fw-bold);
  line-height: 83%;
  color: var(--highlighted-title-color);
  text-transform: var(--text-lowercase);
  text-shadow: var(--text-shadow);
}

.block__title {
  margin-block-start: 55px;
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--fw-bold);
  line-height: var(--line-height-base);
}

.section {
  padding: 0 10px;  /* постараться убрать padding в общие стили для page*/
}

.section__focus {
  margin-block-start: 40px;
}

.section__title {
  font-family: var(--font-main), sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--fw-bold);
  line-height: var(--line-height-base);
  color: var(--accent-color);
}

.section__concentration,
.section__concentration-factor,
.section__images {
  margin-block-start: 50px;
}

.section__content-focus,
.section__content-concentration-factor,
.section__content-concentration {
  margin-block-start: 20px;
}

.section__content {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
}

.section__block-title, 
.section__block-text {
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.section__block-title {
  font-weight: var(--fw-bold);
  background-color: var(--accent-color);
  color: var(--heading-color);
}

.section__block-text {
  margin-block-start: 10px;
  color: var(--text-color);
}

.section__images {
  margin-block-end: 40px;
}

.section__images-gallery {
  margin-block-start: 10px;
  display: grid;
  grid-auto-rows: auto;
  gap: 10px;
}

.footer {
  height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__title {
  display: block;
  max-height: 96px;
  font-family: var(--font-main);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--fw-bold);
  line-height: 83%;
  color: var(--highlighted-title-color);
  text-transform: var(--text-lowercase);
  text-shadow: var(--text-shadow);
}


@media (min-width: 768px) {
  .page {
    max-width: 768px;
  }

  .header {
    padding: 0 20px;  /* постараться убрать padding в общие стили для page*/
  }

  .header__theme-menu {
    margin-block-start: 192px;
  }

  .header__title {
    margin-block-start: 173px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .block__title {
    max-width: 364px;
    margin-block-start: 162px;
    margin-left: 384px;
  }

  .section {
    padding: 0 20px;  /* постараться убрать padding в общие стили для page*/
  }

  .section__focus {
    margin-block-start: 60px;
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
    gap: 20px;
  }

  .section__content-focus,
  .section__content-concentration-factor {
    margin-block-start: 0px;
  }

  .section__concentration,
  .section__images {
    margin-block-start: 80px;
  }

  .section__concentration-factor {
    margin-block-start: 80px;
    display: grid;
    grid-template-columns: minmax(236px, 1fr) minmax(472px, 2fr);
    gap: 20px;
  }

  /* .section__images-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-auto-flow: dense;
} */

.footer__title {
  /* max-height: 99px; */
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) 
}
}

